/* #service-card{
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/31/69/05/1000_F_231690594_1xpuGVGkzsPIvIVRyRkGLY5Ze11d3yev.jpg);
    background-clip:polygon(100% 50%, 0% 100%, 100% 100%) ;
    background-position: left;
} */
