@import url('https://fonts.cdnfonts.com/css/satoshi');
*{
  margin: 0;
  padding: 0;
}
body{
    overflow-x: hidden;
}

.carousel-container {
  position: relative;
  top: 15vh;
  overflow-x: hidden;
  background-color: black;
}

.carousel-track {
  display: flex;
 
  animation: slide 20s linear infinite;
}

.carousel-slide {
  flex: 0 0 20%; /* Adjust this value to control the slide width */
  text-align: center;
  list-style: none;

}

.dash{
  width: 80px;
  height: 8px;
  background-color: #303030;

}

.parent-p{
  width: 35vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
 

}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

p{

font-family: 'Satoshi', sans-serif;
font-size: 60px;
font-style: normal;
font-weight: 500;
display: flex;
 /* Equivalent to paragraph-spacing */
text-align: left; /* Equivalent to text-alignment */
color: #FFF8EB; /* Equivalent to text-color */
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
}