/* CSS */
@keyframes moveBg {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-bg img {
    animation: moveBg 10s linear infinite;
  }
   img{
    background-image: url(https://framerusercontent.com/images/TlNK8dgFohSyX6akaMAsIrmg.jpg?scale-down-to=1024);
    transform: translateY();
    animation: slideRightToLeft 10s linear infinite;
  }

  @keyframes slideRightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* .image-loop {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    place-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 0;
    position: relative;
    flex-direction: row;
    overflow: hidden; 
    
  } */
  
  /* .absolute {
    flex-shrink: 0;
    animation: slideRightToLeft 10s linear infinite; /
  } */
  
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  